services:
  db:
    image: postgres:16-alpine
    container_name: prosaai_db
    environment:
      POSTGRES_DB: prosaai
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    ports:
      - 5433:5432
    volumes:
      - db_data:/var/lib/postgresql/data
    restart: always

  backend:
    build: ./backend
    container_name: prosaai_backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
    depends_on:
      - db
    restart: always
    environment:
      DATABASE_URL: postgresql://user:password@db:5432/prosaai
      SECRET_KEY: ${SECRET_KEY:-default_secret_key_for_dev}
      ALGORITHM: HS256
      ACCESS_TOKEN_EXPIRE_MINUTES: 30
      REFRESH_TOKEN_EXPIRE_DAYS: 7
      CORS_ORIGINS: ${CORS_ORIGINS:-http://frontend:80,http://localhost:5173,http://localhost:3000,http://localhost,http://127.0.0.1,http://127.0.0.1:8000}


  frontend:
    build: ./frontend
    container_name: prosaai_frontend
    ports:
      - "80:80"
    depends_on:
      - backend
    restart: always


volumes:
  db_data: