services:
  db:
    image: postgres:16-alpine
    container_name: prosaai_db
    environment:
      POSTGRES_DB: prosaai
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    ports:
      - 54320:5432
    volumes:
      - db_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d prosaai"]
      interval: 5s
      timeout: 5s
      retries: 5
    restart: always

  backend:
    build: ./backend
    container_name: prosaai_backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
    depends_on:
      db:
        condition: service_healthy
    restart: always
    env_file:
      - .env
    environment:
      DATABASE_URL: postgresql://user:password@db:5432/prosaai


  frontend:
    build: ./frontend
    container_name: prosaai_frontend
    ports:
      - "80:80"
    depends_on:
      - backend
    restart: always


volumes:
  db_data: