services:
  db:
    image: postgres:16-alpine
    container_name: prosaai_db
    environment:
      POSTGRES_DB: prosaai
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    ports:
      - 5433:5432
    volumes:
      - db_data:/var/lib/postgresql/data
    restart: always

  backend:
    build: ./backend
    container_name: prosaai_backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
    depends_on:
      - db
    restart: always
    env_file:
      - .env
    environment:
      DATABASE_URL: postgresql://user:password@db:5432/prosaai


  frontend:
    build: ./frontend
    container_name: prosaai_frontend
    ports:
      - "80:80"
    depends_on:
      - backend
    restart: always


volumes:
  db_data: